@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kaisei+Decol&family=Kiwi+Maru&family=WDXL+Lubrifont+JP+N&display=swap');

.wdxl-lubrifont-jp-n-regular {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kaisei-decol-regular {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}



body {
    margin: 0;
    padding: 0;
    padding-bottom: 110vh;
}
main {
    transition: 0.3s;
    position: absolute;
    top: 5vh;
    left: 2.5vw;
    width: 95vw;
    border-radius: 20px;
    background-color: #e6e6e6;
    border: 2px solid #000;
}
main:hover {
    box-shadow: -14px 10px 69px 0px #777777;

}
#title {
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 5px #d8d8d8;
    font-family: "Kiwi Maru", serif;
    font-size: 3rem;
    transition: 1s;
    -webkit-text-stroke: 0.2px #000;
}
#menu a{
    text-decoration: none;
    color: rgb(78, 78, 78);
    transition: .3s;

}
#menu {
    position: relative;
    left: 31vw;
    list-style-type: none;
    font-family: "Kaisei Decol", serif;
    font-size: 2rem;
    display: flex;
    gap: 20px;
    width: max-content;
    flex-wrap: wrap;
}
#menu li:hover {
    font-size: 2.1rem;
}
#menu a:hover {
    color: rgb(83, 145, 145);
    border-left:1px dashed #000 ;
    border-right:1px dashed #000 ;
}
header {
    border-bottom: 1px dashed rgb(128, 128, 128);
    padding-bottom: 30px;
}
p {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: 1.3rem;
}
footer {
    border-top: 2px solid #000;
    text-align: center;
}
h2 {
    border-bottom: 1px solid #000;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    height: 70px;
    font-family: "Dela Gothic One", sans-serif;
    padding-right: 10vw;
    padding-left: 2vw;
    width: max-content;
    margin-left: 20px;
}
h3 {
    font-size: 1.7rem;
}

@media (max-width: 768px) {
#menu {
    left: 0px;
    display: block;
    margin: auto;
}
}
